*.log
*.root
*.png
*.pdf
*.json
*.pb
*.csv
*.pth
*.pkl
*.txt
*.onnx
*.swp
# Ignora completamente le altre release
CMSSW_12_6_0/
CMSSW_14_1_0/

# Dentro CMSSW_15_0_6 ignora tutto tranne src
CMSSW_15_0_6/*
!CMSSW_15_0_6/src
ML_scripts/pics
IVF/files
IVF/model_files
IVF/__pycache__
RandlaMod/files
RandlaMod/files_models
CMSSW_12_6_0/src/analysis/.trkinfo.py.swp
IVF/files/
IVF/files/*.pkl
IVF/model_files
IVF/__pycache__
IVF/stats
IVF/scaler
IVF/mods_onnx
CMSSW_14_1_0/src/genmatch/1703_ttbar_had/
CMSSW_15_1_1/
MiniToNano/
old/
